<div class="container">
    <div class="heading">
        Natural blends of the finest essential oils
    </div>
    <div class="row">
        <mat-card appearance="outlined" class="col-md-3 card">
            <img mat-card-image src="../../../assets/Image (2).png" alt="Photo of a Shiba Inu">
            <div class="productName">
                Frankincense & Myrrh </div>
            <div>
                A blend of frankincense & myrrh with citrusy and smoky undertones. Inspired by Purdy & Charlotte’s
                festive memories.
            </div>
            <hr>
            <div class="row">
                <div class="col-10">BLEND DETAILS</div>
                <div class="col-2"><img src="../../../assets/arrow-right.png" alt="" width="15px" height="15px"></div>
            </div>
        </mat-card>
        <mat-card appearance="outlined" class="col-md-3 card">
            <img mat-card-image src="../../../assets/Image (3).png" alt="Photo of a Shiba Inu">
            <div class="productName">
                Frankincense & Myrrh </div>
            <div>
                A blend of frankincense & myrrh with citrusy and smoky undertones. Inspired by Purdy & Charlotte’s
                festive memories.
            </div>
            <hr>
            <div class="row">
                <div class="col-10">BLEND DETAILS</div>
                <div class="col-2"><img src="../../../assets/arrow-right.png" alt="" width="15px" height="15px"></div>
            </div>
        </mat-card>
        <mat-card appearance="outlined" class="col-md-3 card">
            <img mat-card-image src="../../../assets/Image (4).png" alt="Photo of a Shiba Inu">
            <div class="productName">
                Frankincense & Myrrh </div>
            <div>
                A blend of frankincense & myrrh with citrusy and smoky undertones. Inspired by Purdy & Charlotte’s
                festive memories.
            </div>
            <hr>
            <div class="row">
                <div class="col-10">BLEND DETAILS</div>
                <div class="col-2"><img src="../../../assets/arrow-right.png" alt="" width="15px" height="15px"></div>
            </div>
        </mat-card>
        
    </div>
</div>