<div class="container">
  <div class="heading">Enjoy member benefits</div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="benefits text-center">
        <div class="img">
          <img
            src="../../../assets/Icon.png"
            alt=""
            width="50px"
            height="50px"
          />
        </div>
        <span class="title">Member-only perks</span>
        <p>Exclusive treats, just for our members.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="benefits text-center">
        <div class="img">
          <img
            src="../../../assets/icon2.png"
            alt=""
            width="50px"
            height="50px"
          />
        </div>
        <span class="title">Membership pricing</span>
        <p>Save 15% on refills, always.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="benefits text-center">
        <div class="img">
          <img
            src="../../../assets/icon3.png"
            alt=""
            width="50px"
            height="50px"
          />
        </div>
        <span class="title">Exclusive access</span>
        <p>Early access to limited edition scents.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="heading">Two women on a mission</div>
  <div class="row">
    <div class="col-md-6" *ngIf="isMobile">
        <p>
          Best friends Purdy & Charlotte were fed up with cupboards cluttered with
          toxic products.Both firm believers in the power of natural cleaning,
          they experimented with formulas in an empty garage until they landed on
          an all-natural, multipurpose spray, beautifully scented with essential
          oils. They called it Counter Clean.
        </p>
      </div>
    <div class="col-md-6">
      <img src="../../../assets/Media.png" alt="" class="video" />
    </div>
   
    <div class="col-md-6"  *ngIf="isDesktop">
      <div class="info">
        <span class="title"
          >Best friends Purdy & Charlotte were fed up with cupboards cluttered
          with toxic products.</span
        >
        <p>
          Both firm believers in the power of natural cleaning, they
          experimented with formulas in an empty garage until they landed on an
          all-natural, multipurpose spray, beautifully scented with essential
          oils. They called it Counter Clean.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="heading">
    Manufactured in the UK
    <img src="../../../assets/uk.png" width="30px" height="30px" />
  </div>
  <div class="info1 text-center">
    <span class="fs-4"
      >We manufacture Purdy & Figg cleaning concentrates in England, where we’re
      subject to stringent health regulations. </span
    >
    <p>
      Every Purdy & Figg concentrate is made in a state-of-the-art laboratory.
      We promise we’ll never cut corners when it comes to your health or
      safety. 
    </p>
    <button mat-raised-button color="primary" class="cart">
      GET YOUR OFFER
    </button>
  </div>
</div>
